@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
.app {
  display: flex;
  justify-content: center;
  align-items: start;
}
a {
  border-radius: 4px;
  background-color: #f3f3f3;
  margin: 5px 3px;
  padding: 8px 26px;
  cursor: pointer;
}
a:hover,
a:active {
  background-color: #d2efff;
  color: #016a90;
  font-family: 'DM Sans', sans-serif;
}
.active {
  background-color: #d2efff;
  color: #016a90;
}
